/* BREAKPOINTSS: pontos de corte comuns para aplicar estilos
  320px -> celulares pequenos
  768px -> tablets
  1024px -> laptops
  1440px -> desktops grandes
 */

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --gitsecundary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;
  --text-tertiary-color: #f5f5f5;

  --detail-icon-primary-color: #8c8c8c;
  --detail-form-border-color: #d9d9d9;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
