header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 37px 48px;

  background-color: var(--background-tertiary-color);
}

.logo-img {
  height: 64px;
  width: auto;
  display: block;
}

.navegation-menu {
  display: flex;
}

.navegation-menu-img {
  width: 32px;
  height: 32px;

  cursor: pointer;
}

.navegation-list {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;

  top: 100%;
  left: 0;
  width: 100%;

  list-style: none;

  background-color: var(--background-tertiary-color);
}

.menu-checkbox:checked ~ .navegation-list {
  display: flex;
}

.navegation-list li {
  padding: 16px 0;
}

.navegation-list li a {
  text-decoration: none;

  font-size: 1rem;
  font-weight: var(--menu-text-weight);
  color: var(--text-secondary-color);
}

/* --- Media Queries (Tablet) --- */

@media screen and (min-width: 768px) {
  header {
    padding: 37px 60px;
  }

  .navegation-menu-label {
    display: none;
  }

  .navegation-list {
    display: flex;
    position: static;
    flex-direction: row;

    width: auto;
    gap: 40px;
  }

  .navegation-list li a {
    font-size: 1.5rem;
  }
}

/* --- Media Queries (Desktop) --- */

@media screen and (min-width: 1024px) {
  header {
    padding: 37px 120px;
  }

  .logo-img {
    content: url(../img/desktop/Logo-branco.png);
  }
}

@media screen and (min-width: 1440px) {
  header {
    padding: 37px 160px;
  }
}

/* --- Efeito Hover --- */

.navegation-list li a:hover {
  color: var(--primary-color);
}
