header {
  background-color: var(--background-tertiary-color);
  width: 100%;
  height: 138px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-homepage {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto 0 auto 48px;
}

.logo-homepage img {
  width: 64px;
  height: 64px;
}

.navegation-menu {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: auto 48px auto 0;
  overflow: hidden;
}

.navegation-menu img {
  width: 32px;
  height: 32px;
}
