header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  padding: 37px 48px;

  background-color: var(--background-tertiary-color);
}

.logo-homepage-img {
  display: inline-block;

  width: 64px;
  height: 64px;
}

.navegation-menu {
  display: flex;
}

.navegation-menu-img {
  display: inline-block;

  width: 32px;
  height: 32px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  justify-content: space-between;

  width: 100vw;
  top: 100%;
  left: 0;

  background-color: var(--background-tertiary-color);
}

.navegation-menu-list {
  display: none;
}

.navegation-menu-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.navegation-menu-option li {
  margin: 16px 0;
}

.navegation-menu-option li a {
  display: inline-block;
  flex: 1;
  margin: 0 auto;

  color: var(--text-secondary-color);
  text-decoration: none;

  font-size: 1rem;
  font-weight: var(--menu-text-weight);
}

@media screen and (min-width: 768px) {
  header {
    padding: 37px 60px;
  }

  .div-navegation-menu label,
  .div-navegation-menu input {
    display: none;
  }

  .navegation-menu-list {
    display: inline-block;
  }

  .navegation-menu-option {
    flex-direction: row;
    width: 467px;
    justify-content: space-between;
  }

  .navegation-menu-option li a {
    font-size: 1.5rem;
  }
}
