header {
  background-color: var(--background-tertiary-color);
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 48px;
  width: 100vw;
}

.logo-homepage img {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.div-navegation-menu {
  display: flex;
}

.navegation-menu-img {
  display: inline-block;
  width: 32px;
  height: 32px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  justify-content: space-between;
  width: 100vw;
  top: 100%;
  left: 0;
  background-color: var(--background-tertiary-color);
}

.navegation-menu-list {
  display: none;
}

.navegation-menu-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
}

.navegation-menu-option li {
  margin: 16px 0;
}

.navegation-menu-option li a {
  display: inline-block;
  flex: 1;
  text-decoration: none;
  color: var(--text-secondary-color);
  margin: 0 auto;
}
