header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 48px;
}

.logo-homepage img {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.div-navegation-menu {
  display: flex;
}

.navegation-menu-img {
  display: inline-block;
  width: 32px;
  height: 32px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

.navegation-menu-list {
  display: none;
}
