header {
  background-color: var(--background-tertiary-color);
  width: 100%;
  height: 138px;
}

.logo-homepage {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 37px 0 0 48px;
}

.logo-homepage img {
  width: 64px;
  height: 64px;
}
