.offer-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 312px;
  height: 288px;
  padding: 24px 16px;
  border-radius: 16px;

  color: var(--text-secondary-color);
  background-color: black;
}

.offer-card header {
  display: flex;
  flex-direction: column;
  position: static;

  padding: 0;
  gap: 8px;
  background-color: transparent;
}

.offer-card header h3 {
  font-size: 2.5rem;
  font-weight: var(--titles-weight);
}

.offer-card h4 {
  font-size: 2rem;
  font-weight: var(--titles-weight);
}

.offer-card header h5 {
  text-transform: uppercase;

  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: var(--text-weight);
}
